<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.TestDistribute">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="TestDistribute" android:icon="@mipmap/icon">
		<meta-data android:name="APPCENTER_TOKEN" android:value="8973601c-e3f5-4e18-809a-a9073eb35c81" />
	</application>
</manifest>